*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(24 0, 243, 243);
}

.app{
    width: 500px;
    height: 740px;
    box-shadow: 0 8px 10px rgba(164, 216, 221, 0.457);
    margin-left: 600px;
    margin-top: 50px;
}

.title h1{
    border-color: black;
    text-align: left;


}

input{
    margin-top: 30px;
    margin-left: 50px;
    justify-content: center;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1px;
    text-align: center;
}

.details h2{
    margin-top: 75px;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.082);

}

.details span{
    margin-left: 50px;
}

button{
    color: rgb(23, 24, 24);
    background: rgb(241, 241, 241);
    border: none;
    box-shadow: 0 8px 10px;
    width: 117px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
    margin-left: 200px;
}

button:hover{
    transform: scale(1.1);

}

.table{
    border: solid;
    align-items: center;

}

.expenseBtn{
    background-color: red;
}

.incomeBtn{
    background-color: green;
}

.Balance{
    width: 2rem;
    height: 2rem;
    background-color: black;
    border: border;

}